body {
	font-family: "Tahoma", serif;
	color: white;
	background: #8b8b8b;
}

.zag {
	font-size: 16px;
	font-weight: bolder;
}

.res {
	font-size: 18px;
	font-family: 'Courier New', Courier, monospace;
}

.img {
	width: 200px;
	border: 3px solid white;
	border-radius: 3px;

}

input[type=text] {
	border: 1px solid #3b3b3b;
	border-radius: 3px;
	height: 25px;
	width: 30px;
	font-size: 15px;
}

.top_text{
	font-size: 20px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#top_image{
	height: 20px;
}

.button {
	height: 29px;
	border-radius: 3px;
	width: 106px;
	border-color: #1d1d1d;
	color: #fff;
	box-shadow: 0 0 5px 40px #1d1d1d inset, 0 0 0 0 #1d1d1d;
	-webkit-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
  }
  .button:hover {
	box-shadow: 0 0 50px 0 #1d1d1d inset, 0 0 3px 1px #1d1d1d;
	text-emphasis-color: #1d1d1d;
  }
  
#crypt{
	width: 100px;
	margin-bottom: 3px;
}
#decrypt{
	width: 100px;
}


